<!-- <h4 class="text-primary" >Edit Item Details</h4>
<label class="text-success">Item Name :</label>
<input [(ngModel)]="item.name" placeholder="name" class="form-control from-control-sm"/>
<label class="text-success">Item Price :</label>
<input (keyup.enter)="save()" [(ngModel)]="item.price" placeholder="price" class="form-control from-control-sm"/>
<div class="container">
  <br>
  <div class="row">
    <div class="col">
      <button (click)="save()" class="btn btn-primary" >SAVE </button>
    </div>
    <div class="col">
      <button (click)="back()" class="btn btn-success">Back</button>
    </div>
  </div>

</div> -->
<div class="custom-container">
  <div class="main">
    <h4>Edit Item Details...</h4>
    <div class="edit-name">
<!--      <label style="margin: 4px 9px 0 0;color: rgb(134, 92, 0);font-family: Georgia, 'Times New Roman', Times, serif;">Edit Item Name :</label>-->
<!--      <input [(ngModel)]="item.name" placeholder="name" class="form-control from-control-sm" />-->
      <mat-form-field appearance="outline" style="width: 250px">
      <mat-label>Edit Name</mat-label>
        <input [(ngModel)]="item.name" matInput #message maxlength="50" placeholder="Enter Item Name">
        <mat-hint align="end">{{message.value.length}}/50</mat-hint>
      </mat-form-field>
    </div>
    <div class="edit-price">
<!--      <label style="margin: 4px 15px 0 0;color: rgb(134, 92, 0);font-family: Georgia, 'Times New Roman', Times, serif;">Edit Item Price :</label>-->
<!--      <input (keyup.enter)="save()" [(ngModel)]="price" placeholder="price" class="form-control from-control-sm" />-->
      <mat-form-field appearance="outline" style="width: 250px">
        <mat-label>Edit Price</mat-label>
        <input [(ngModel)]="price" matInput #input maxlength="10" placeholder="Enter Item Price">
        <mat-hint align="end">{{input.value.length}}/10</mat-hint>
      </mat-form-field>
    </div>
  </div>
  <div class="buttons">
    <button (click)="save()" class="button-save" mat-raised-button>SAVE</button>
    <button (click)="back()" class="button-back" mat-raised-button>Back</button>
  </div>
</div>
