<div>
  <div class="main mat-elevation-z6" role="navigation">
    <div class="leftContent">
      <h3
        style="font-family:'travel-next', Geneva, Tahoma, sans-serif;letter-spacing: 2px;margin: 6px;color: rgb(34, 168, 45);padding: 2px 0 0 4px;">
        <b>{{title}}</b></h3>
      <img src="https://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/128/Cart-icon.png"
           style="height: 2em;margin: 7px 0 0 7px;">
    </div>
    <div class="rightContent"
         style="font-family: 'shadow-brush', Geneva, Tahoma, sans-serif;font-size: 26px;letter-spacing: 3px;color: rgb(130, 169, 255);">
      <label><b>Make your day simple...</b></label></div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>



