<div class="container">
  <div class="main">
    <div class="mat-toolbar"style="display: flex;justify-content: space-between">
      <div style="display: inline">
        <h4 style="margin: 0 10px 0 10px;font-size: 32px">Item List</h4>
      </div>
      <div style="display: inline">
        <label style="align-content: end;color: #0c5460;font-family:'Times New Roman',serif">Current Total : {{total| number:'1.2-2'}}</label>

        <a mat-fab routerLink="/add-Item" style="text-decoration: none;background-color: #e6e6fa;color: blue">
          <mat-icon style="font-size: 30px;padding: 0 0 0 0;margin: -3px 5px 5px 0">add</mat-icon>
        </a>
      </div>

    </div>
    <div>
<!--      <ul class="items">-->
        <mat-list role="list">
        <mat-list-item *ngFor="let item of itemList;let i = index">
          <div class="listItemContent">
            <div class="leftContent">
              <label><span class="ID-badge font-weight-bold">{{i+1}}</span></label>
              <label><span class="name-badge font-weight-bold">{{item.name}}</span></label>
            </div>
            <div class="rightContent">
              <label><span class="price-badge font-weight-bold">{{item.price | number:'1.2-2'}}</span></label>
            </div>
          </div>
          <div class="list-item-options">
            <img (click)="deleteItem(item.id,i+1)" class="deleteButton"
                 src="https://icons.iconarchive.com/icons/hopstarter/rounded-square/96/Button-Delete-icon.png">
            <img (click)="editItem(item)"
                 src="https://icons.iconarchive.com/icons/hopstarter/soft-scraps/128/Text-Edit-icon.png"
                 style="height: 0.8em; width: 0.8em;cursor: pointer;">
          </div>
        </mat-list-item>
        </mat-list>
<!--      </ul>-->
<!--      <div class="fab-container">-->
<!--        <a mat-fab routerLink="/add-Item" style="text-decoration: none;background-color: #e6e6fa"><img-->
<!--          src="https://icons.iconarchive.com/icons/visualpharm/must-have/128/Add-icon.png" style="width: 30px"></a>-->
<!--      </div>-->
    </div>
    <!--    <div class="fab-container">-->
    <!--      <button mat-fab color="primary" (click)="navigateToAddNewItemComponent()" aria-label="Example"></button>-->
    <!--    </div>-->
  </div>
</div>
