.custom-container{
  display: flex;
  padding: 14px 0 0 30px;
}
.input-name{
  display: -webkit-box;
  padding: 0 0 0 10px;
}
.input-price{
  display: -webkit-box;
  margin: 10px 0 0 0;
  padding: 0 0 0 10px;
}
.buttons{
  margin-left: 95px;
  padding-top:10px ;
}
.add-button{
  border: none;
  border-radius: 4px;
  background-color: rgb(0, 110, 255);
  color: aliceblue;
  font-size: 14px;
  padding: 2px 8px 0px 8px;
}
.add-button:hover{
  background-color: rgb(1, 197, 211);
  color: rgb(0, 38, 253);
}
.back-button{
  border: none;
  border-radius: 4px;
  background-color: rgb(101, 163, 0);
  color: aliceblue;
  font-size: 15px;
  padding: 2px 8px 0px 8px;
}
.back-button:hover{
  background-color: rgb(135, 245, 91);
  color: rgb(116, 69, 0);
}
